{% extends 'base.html' %}

{% block title %}
<title>Удаление товара</title>
{% endblock %}

{% block body %}
    <div class="container">
  <div class="card-deck mb-3 text-center">
  {% for el in data %}
  <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">{{ el.title }}</h4>
      </div>
      <div class="card-body">
        <a href="/delete/{{ el.id }}" class="btn btn-lg btn-block btn-outline-primary">УДАЛИТЬ</a>
      </div>
    </div>
    {% endfor %}
  </div>
    </div>

{% endblock %}